p {
    /* display:inline; */
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 1px solid blue;
    padding:8px;
}
a {
    display:block;
}

a {
    color: #d2691e;
}
body {
    background-color: rgb(78, 148, 1)
}

html {
    background-color: rgb(23,45,6);
    color: rgb(210,19, 63)
}
